.user-image {
    padding: 2.5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

@media (max-width:600px) {
    .hero-section {
        display: block;
    }

    .faded-text {
        display: none;
    }

    .skills-container {
        margin-top: 2rem;
        width: 100%;
        position: static;
        display: block;
        padding: 0rem;
        margin: 0rem;
        gap: 0px;

    }

    .skill-container-left {
        display: block;
        width: 100%;
    }

    .skill-container-right {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        gap: 2rem;
        justify-content: center;
    }

    .skill-fade-text {
        display: none;
    }

    .footer-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap:wrap; */
        gap: 2rem;
        padding: 1.2rem;
        justify-content: center;
        align-items: center;

    }

    .skill-heading {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .footer-faded-text {
        position: absolute;
        /* left:50; */
        bottom: 0;
        color: #535c87;
        user-select: none;
        font-size: 5em;
    }

    .contactus-form-container {
        margin-top: 25px;
        display: block;
        align-items: center;
        justify-content: center;
    }
}